/* Chaos Bug prevention */

* {
	/* Prevent text overflows */
	/* Ref : https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */ 
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	
	/* Prevent margin/padding anarchy */
	box-sizing: border-box;
}

/* Prevent weird bug, when used in td, duplicate td's border bottom, due to original value set to 0.625em (Chrome) */
fieldset {
	padding-bottom: 0.6em;
}

/* Prevent images from overflowing parent containers */
img {
	height: auto;
	max-width: 100%;
}

/* Convenience fixs */
/* Defaut table border collapse */
table {
	border-collapse: collapse;
}

/* Inputs cb/radio aligned with inline labels */
[type="checkbox"], [type="radio"] {
    vertical-align: middle;
}